# MariaDB Ubuntu {{ ansible_distribution_release | title }} repository list
# http://mariadb.org/mariadb/repositories/
deb [arch=amd64,i386] http://mirrors.tuna.tsinghua.edu.cn/mariadb/repo/{{ mariadb_version }}/ubuntu {{ ansible_distribution_release | lower }} main
deb-src http://mirrors.tuna.tsinghua.edu.cn/mariadb/repo/{{ mariadb_version }}/ubuntu {{ ansible_distribution_release | lower }} main